*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    background-color: #29ba9b;
}

nav{
    background-color: #29ba9b;
    height: 80px;
    width: 100%;
}

main{
    background-color: #ffff;
    height: 100%;
    width: 100%;
}